@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-items">
    <div class="items" style="background-image: url(https://cdn-icons-png.flaticon.com/512/822/822163.png)">
        <div class="frame"></div>
        <div class="details">
            <h3>#Cama Quirurjica</h3>
            <p>This is a Drescriptions for you photo</p>
            <h6>15:30 13/06/2022</h6>
        </div>
    </div>
</div>

<div class="bg-items">
    <div class="items" style="background-image: url(http://cdn.onlinewebfonts.com/svg/img_493010.png)">
        <div class="frame"></div>
        <div class="details">
            <h3>#Cama Quirurjica</h3>
            <p>This is a Drescriptions for you photo</p>
            <h6>15:30 13/06/2022</h6>
        </div>
    </div>
</div>

<div class="bg-items">
    <div class="items" style="background-image: url(https://cdn-icons-png.flaticon.com/512/2721/2721116.png)">
        <div class="frame"></div>
        <div class="details">
            <h3>#Cama Quirurjica</h3>
            <p>This is a Drescriptions for you photo</p>
            <h6>15:30 13/06/2022</h6>
        </div>
    </div>
</div>

<div class="bg-items">
    <div class="items" style="background-image: url(https://static.thenounproject.com/png/2588076-200.png)">
        <div class="frame"></div>
        <div class="details">
            <h3>#Cama Quirurjica</h3>
            <p>This is a Drescriptions for you photo</p>
            <h6>15:30 13/06/2022</h6>
        </div>
    </div>
</div>

<div class="bg-items">
    <div class="items" style="background-image: url(https://cdn4.iconfinder.com/data/icons/medical-soft-5/512/respiratory_system-512.png)">
        <div class="frame"></div>
        <div class="details">
            <h3>#Cama Quirurjica</h3>
            <p>This is a Drescriptions for you photo</p>
            <h6>15:30 13/06/2022</h6>
        </div>
    </div>
</div>

<div class="bg-items">
    <div class="items" style="background-image: url(https://cdn.pixabay.com/photo/2017/09/30/18/58/lungs-2803208__480.png)">
        <div class="frame"></div>
        <div class="details">
            <h3>#Cama Quirurjica</h3>
            <p>This is a Drescriptions for you photo</p>
            <h6>15:30 13/06/2022</h6>
        </div>
    </div>
</div>
