
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="login-box">
    <h2>Login</h2>
    <form action="~/Login" method="post">
        <div class="user-box">
            <input type="email" name="Correo" required="">
            <label>Correo</label>
        </div>
        <div class="user-box">
            <input type="password" name="Clave" required="">
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        <a asp-controller="Usuarios" asp-action="Create">Create Account</a>
        </a>
    </form>
</div>
